.button-center {
    display: flex;
    justify-content: center;
}

.button {
    border: 2px solid var(--blue);
    padding: 8px 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 6px;
    color: var(--blue);
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: var(--light);
}